<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54088812610-np1p5i6el8ufkcc840g32ks6piit33uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54088812610-np1p5i6el8ufkcc840g32ks6piit33uk</string>
	<key>API_KEY</key>
	<string>AIzaSyD8bWb0h_gVaLZyfLJ6xRYTFaO14Aw8GCU</string>
	<key>GCM_SENDER_ID</key>
	<string>54088812610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login-firebase</string>
	<key>PROJECT_ID</key>
	<string>login-firebase-flutter-9999f</string>
	<key>STORAGE_BUCKET</key>
	<string>login-firebase-flutter-9999f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54088812610:ios:dca8f87cd7c5defafe85db</string>
</dict>
</plist>